:root {
  --grid-col: 1;
  --grid-row: 1;
}

html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #19376d, #9e4784);
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-rows: repeat(var(--grid-row), 1fr);
  grid-template-columns: repeat(var(--grid-col), 1fr);
  width: 640px;
  height: 640px;
  margin: 9.5rem auto;
  background-color: white;
  box-shadow: 1px 1px 20px 1px;
  position: relative;
  bottom: 700px;
}

header {
  text-align: center;
  font-size: 1.5rem;
  position: relative;
  top: 40px;
  color: #c950a5b2;
}
#grid-item {
  max-width: 100rem;
  max-height: 100rem;
  border: 1px solid #33333341;
  text-align: center;
}
.menu-bar {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 15rem;
  top: 6rem;
  width: 18rem;
  height: 40rem;
  box-shadow: 4px 4px 10px 1px;
}
.menu-bar h2,
h4,
h3 {
  text-align: center;
  color: rgba(144, 226, 11, 0.856);
}
button {
  width: 200px;
  border-radius: 20px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(255, 255, 255);
}
button:hover {
  transition: 0.5s all;
  transform: scale(1.1);
}
.color-mode,
.clear {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-left: 2.2rem;
}
.input {
  padding-left: 2.5rem;
}
input[type='range'] {
  /* margin-top: 35px; */
  width: 13rem;
  cursor: pointer;
}
.changeBG {
  box-shadow: 1px 1px 15px 7px rgba(223, 12, 212, 0.582);
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 1px solid black;
}
input[type='color'] {
  width: 5rem;
  height: 4rem;
  border: none;
  margin-left: 70px;
  background: none;
  cursor: pointer;
}
@media screen and (min-width: 720px) and (max-width: 1080px) {
  .container {
    width: 220px;
    height: 220px;
    position: relative;
    right: 120px;
    top: -52rem;
  }
  header {
    font-size: 1rem;
    right: 120px;
    top: -22px;
  }
  .menu-bar {
    width: 15rem;
    height: 40rem;
    top: 13rem;
    left: 110px;
  }
  button {
    width: 150px;
  }
  canvas {
    height: 100px;
  }
  #color-slider {
    display: none;
  }
  input {
    width: 10rem;
    cursor: pointer;
  }
}
